.wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;

  .content {
    padding-right: 20px;
  }

  .image {
    img {
      width: 402px;
      height: auto;
      border-radius: 10px;
    }
  }
}