$imageWidth: 402px;

.wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;

  .content {
    padding-right: 20px;

    h1, h2  {
      margin-bottom: 8px;
    }

    p {
      margin: 8px 0;
    }

    .meta {
      font-style: italic;
    }
  }

  .image {
    img {
      width: $imageWidth;
      height: auto;
      border-radius: 40px;
    }
  }

  ol {
    padding-left: 20px;
    margin: 0;
  }

  
  @media (max-width: 1023px) {
    flex-direction: column-reverse;

    .content {
      padding-right: 0;
    }

    .image {
      img {
        width: 100%;
        max-width: $imageWidth;
      }
    }
  }
}